body {
    font-family: Arial, sans-serif;
    background-color: #EADBE3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    min-height: 300px;
    overflow: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #644281;
}
h3 {
    color: #A785AF;
    margin-bottom: 10px; 
}
.form-group {
    margin-bottom: 15px;
}
.form-sexo {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-bottom: 15px; 
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #644281;
}
input[type="text"],
input[type="number"],
input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #BE9DC1;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #A785AF;
}
